<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Метод main и его дескрипторы</h3>
<hr/>
<p>
    Всякая программа на Java, оформленная как приложение (application),
    должна содержать метод с именем <span class="code-txt">main</span>.
    Он может быть один на все приложение, а может находиться в каждом классе.
    Подобное размещение точки входа в каждом классе обычно применяется на сыром проекте,
    и при окончательной сборке эти тестовые методы <span class="code-txt">main</span> удаляются.
</p>
<h4>Дескрипторы / спецификаторы доступа</h4>
<hr/>
<p>
    Спецификаторы доступа к методу это специальные ключевые слова языка Java, которые управляют
    доступом к методу
</p>
<p>
    Метод <span class="code-txt">main()</span> объявляется в классе, как обычный метод, может
    содержать любые описания и действия, но он обязательно должен быть открытым
    (<span class="code-txt">public</span>), статическим (<span class="code-txt">static</span>),
    не иметь возвращаемого значения (<span class="code-txt">void</span>). Его аргументом
    обязательно должен быть массив строк (<span class="code-txt">String [ ]</span>).
    По традиции этот массив называют <span class="code-txt">args</span> (аргументы), хотя
    имя может быть любым.
</p>

<pre><code><div class="code-block"><div class="code">
<span class="code-txt">class</span> MainClass {
        <span class="code-txt">public static void</span> main(String [ ] args) {
            .......
   }
}
</div></div></code></pre>

<p>
    Эти особенности возникают из-за того, что метод с именем <span class="code-txt">main()</span>
    вызывается автоматически исполняющей системой Java в самом начале выполнения приложения.
    А также статические элементы (<span class="code-txt">static</span>) принадлежат именно классам
    (коду в файле), а не объектам (сущностям в оперативной памяти). И так, как
    в самом начале ещё нет никаких объектов, то точка входа обязана быть статичной.
</p>

<p>
    При вызове интерпретатора Java нужно указываеть класс, где объявлен метод <span class="code-txt">main()</span>,
    с вызова которого виртуальная машина Java начанёт выполнение.
</p>
<p>
    Поскольку классов с методом <span class="code-txt">main()</span> может быть несколько,
    можно построить приложение с дополнительными точками входа, начиная выполнение приложения
    в разных ситуациях из различных классов.
</p>
<p>
    Часто метод <span class="code-txt">main()</span> заносят в каждый класс с целью отладки.
    В этом случае в метод <span class="code-txt">main()</span> включают тесты для проверки
    работы всех методов класса.
</p>

</body>
</html>